.post-item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.post-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.post-content {
    color: #333;
    line-height: 1.5;
    margin-bottom: 8px;
}

.post-time {
    font-size: 12px;
    color: #888;
}