.main-page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  gap: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  max-width: 400px;
}

.form-container input,
.form-container button {
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}